{{ form.csrf_token }}
<div class="form-group">
    <label>{{ form.keywords.description }}</label>
    {{ form.keywords(class="form-control", placeholder=_("方案标签，多个标签用‘,’分割"), id="plan-keywords") }}
    {% if form.errors.keywords %}
        <p class="text-danger">{{ form.errors.keywords[0] }}</p>
    {% endif %}
    <div class="text-info">
        {{ _("如果未找到需要的关键字，请先去关键字管理中") }}
        <a href="{{ url_for("admin_frontend.keyword_new") }}">{{ _("添加关键字") }}</a>
    </div>
</div>
<div class="form-group">
    <label>{{ form.title.description }}</label>
    {{ form.title(class="form-control", placeholder=form.title.description) }}
    {% if form.errors.title %}
        <p class="text-danger">{{ form.errors.title[0] }}</p>
    {% endif %}
</div>

<div class="form-group">
    <label>{{ _("内容") }}</label>
    <script type="text/plain" id="editor" name="content">
        {% if form.content.data != None %}
            {{form.content.data|safe}}
        {% endif %}
    </script>
    {% if form.errors.content %}
        <p class="text-danger">{{ form.errors.content[0] }}</p>
    {% endif %}
</div>
<div class="clear"></div>

<div class="form-group">
    <label>{{_("封面图片") }}</label>
    <input type="file" name="image">
</div>
<div class="clear"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var ue = UE.getEditor('editor', {
            toolbars: [
                ['fullscreen', 'fontsize', '|','blockquote', '|', 'removeformat', '|', 'link', 'unlink', '|', 'simpleupload', '|', 'undo', 'redo'],
                ['bold', 'italic', 'underline', 'forecolor', 'backcolor', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'rowspacingtop', 'rowspacingbottom', 'lineheight', '|', 'insertorderedlist', 'insertunorderedlist', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter']
            ],
            initialFrameHeight: 360,
            autoClearEmptyNode: true,
        });

{#        ue.addListener("ready", function () {#}
{#            if ('{{ form.content.data == None }}' != 'True') {#}
{#                ue.setContent('{{form.content.data|safe}}', false );#}
{#            }#}
{##}
{#        });#}
    });
</script>
