{{ form.csrf_token }}
{{form.hidden_tag()}}
<div class="form-group">
    <label>{{ form.title.description }}</label>
    {{ form.title(class="form-control", placeholder=form.title.description) }}
    {% if form.errors.title %}
        <p class="text-danger">{{ form.errors.title[0] }}</p>
    {% endif %}
</div>

<div class="form-group">
<label>{{_("内容")}}</label>
<script type="text/plain" id="editor" style="width:600px;height:240px;">
<p></p>
</script>
</div>
<div class="clear"></div>

<div class="form-group">
    <label>{{ form.keyword.description }}</label>
    {{ form.keyword(class="form-control", placeholder=form.keyword.description) }}
    {% if form.errors.keyword %}
        <p class="text-danger">{{ form.errors.keyword[0] }}</p>
    {% endif %}
</div>
<div class="clear"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var ue = UE.getEditor('editor');
        ue.addListener("ready", function () {
　　        if('{{form.content.data}}' != 'None'){
                ue.setContent('{{form.content.data}}', false);
            }

        });
    });
</script>
