{% extends "layout/admin_layout.html" %}

{% block content %}

<div class="container">
    <div class="row" id="login-register-div">
        <div class="col-md-8 col-md-offset-2">
            <div class="plan-new">
                <form class="form" enctype="multipart/form-data" action="{{ url_for('admin_frontend.plan_update', plan_id=plan.id) }}" method="post">
                    <fieldset>
                        {% include "admin/plan/_form.html" %}
                        <button type="submit" class="btn btn-primary btn-full">{{ _('编辑方案') }}</button>
                        <a class="btn btn-link" href="{{ url_for("admin_frontend.plans") }}">{{ _("取消") }}</a>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}