{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        <a href="{{ url_for("admin_frontend.plan_new") }}" class="btn btn-info">{{ _("新建方案") }}</a>
        <p></p>
        {% if plans %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ _("全部方案") }}</div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ _("标题") }}</th>
                            <th>{{ _("作者") }}</th>
                            <th>{{ _("阅读") }}</th>
                            <th>{{ _("收藏") }}</th>
                            <th>{{ _("状态") }}</th>
                            <th>{{ _("发布时间") }}</th>
                            <th>{{ _("操作") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in plans %}
                            <tr>
                                <td>{{ plan.title }}</td>
                                <td>{{ plan.account.name or plan.account.cellphone }}</td>
                                <td>{{ plan.view_count }}</td>
                                <td>{{ plan.view_count }}</td>
                                <td>{{ plan.screen_status }}</td>
                                <td>{{ plan.screen_create_time }}</td>
                                <td>
                                    <a href="{{ url_for("admin_frontend.plan_edit", plan_id=plan.id) }}">{{ _("编辑") }}</a>
                                    |
                                    <a class="text-danger"
                                       href="{{ url_for("admin_frontend.plan_delete", plan_id=plan.id) }}">{{ _("删除") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {{ pagination.links }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">{{ _("没有方案") }}</div>
        {% endif %}
    </div>
{% endblock %}