{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        <h2 class="sub-header">{{ _("全部方案") }}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ _("标题") }}</th>
                    <th>{{ _("作者") }}</th>
                    <th>{{ _("阅读") }}</th>
                    <th>{{ _("收藏") }}</th>
                    <th>{{ _("状态") }}</th>
                    <th>{{ _("发布时间") }}</th>
                    <th>{{ _("操作") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in plans %}
                <tr>
                    <td>{{ plan.title }}</td>
                    <td>{{ plan.account.name }}</td>
                    <td>{{ plan.view_count }}</td>
                    <td>{{ plan.view_count }}</td>
                    <td>{{ plan.screen_status }}</td>
                    <td>{{ plan.screen_create_time }}</td>
                    <td>
                        <a href="{{ url_for("admin_frontend.plan_edit", account_id=plan.id) }}">{{ _("编辑") }}</a>
                        |
                        <a class="text-danger" href="{{ url_for("admin_frontend.plan_delete", account_id=plan.id) }}">{{ _("删除") }}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagination.links }}
    </div>
{% endblock %}