{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        {% include "includes/_flash.html" %}
        <a class="btn btn-info" href="{{ url_for("admin_frontend.plans") }}">{{ _("返回") }}</a>

        <div class="row" id="login-register-div">
            <div class="col-md-8 col-md-offset-2">
                <div class="plan-show">
                    <label>{{ _("标题") }}</label>
                    <h4>{{ plan.title }}</h4>
                    <div>
                        <span>{{ _("作者：") }}{{ plan.account.cellphone }}</span>
                        <span>{{ _("阅读：") }}{{ plan.view_count }}</span>
                        <span>{{ _("收藏：") }}{{ plan.share_count }}</span>
                        <span>{{ _("状态：") }}{{ plan.status }}</span>
                        <span>{{ _("发布时间：") }}{{ plan.screen_publish_time }}</span>
                    </div>
                    <div class="labels">
                        {% for word in plan.keywords %}
                            <span class="label label-default">{{ word.content }}</span>
                        {% endfor %}
                    </div>
                    <hr>
                    <label>{{ _("封面") }}</label>
                    <div><img src="{{ plan.cover_image_url }}" alt="{{ plan.path }}"></div>
                    <hr>
                    <label>{{ _("内容") }}</label>
                    <div>{{ plan.content.content|safe }}</div>
                    <hr>
                    <a class="btn btn-info" href="{{ url_for("admin_frontend.plans") }}">{{ _("返回") }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}