{% extends "layout/admin_layout.html" %}

{% block content %}
<div class="container">
    <div class="row" id="login-register-div">
        <div class="col-md-6 col-md-offset-3">
            <div class="plan-show">
                    <label>{{ _("标题") }}</label>
                    <p>
                        {{plan.title}}
                    </p>
                    <hr>
                    <label>{{_("内容")}}</label>
                    <p>
                        {{plan.content.content}}
                    </p>
                    <hr>
                    <label>{{_("封面")}}</label>
                    <p>
                        {{plan.cover_image}}
                    </p>
                    <hr>
                    <label>{{ _("作者") }}</label>
                    <p>
                        {{plan.author_id}}
                    </p>
                    <label>{{ _("阅读") }}</label>
                    <p>
                        {{plan.view_count}}
                    </p>
                    <hr>
                    <label>{{ _("收藏") }}</label>
                    <p>
                        {{plan.share_count}}
                    </p>
                    <hr>
                    <label>{{ _("状态") }}</label>
                    <p>
                        {{plan.status}}
                    </p>
                    <hr>
                    <label>{{ _("发布时间") }}</label>
                    <p>
                        {{plan.publish_date}}
                    </p>
                    <hr>
                    <label>{{_("标签")}}</label>
                    <p>
                        <ul>
                            {% for word in plan.keywords %}
                              <li class="{{ loop.cycle('odd', 'even') }}">{{ row }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <hr>
                    <a class="btn btn-info" href="{{ url_for("admin_frontend.plans") }}">{{ _("返回") }}</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}




                            <th>{{ _("状态") }}</th>
                            <th></th>