{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        {% include "includes/_flash.html" %}
        <div class="btn-group">
            <a href="{{ url_for("admin_frontend.impress_new") }}" class="btn btn-info">{{ _("新建印象") }}</a>
        </div>
        <p></p>
        {% if impresses %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ _("全部印象") }}</div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _("内容") }}</th>
                            <th>{{ _("类型") }}</th>
                            <th>{{ _("创建时间") }}</th>
                            <th>{{ _("操作") }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for impress in impresses %}
                            <tr>
                                <td>{{ impress.id }}</td>
                                <td>{{ impress.content }}</td>
                                <td>{{ impress.screen_type }}</td>
                                <td>{{ impress.screen_create_time }}</td>
                                <td>
                                    <a href="{{ url_for("admin_frontend.impress_edit", impress_id=impress.id) }}">{{ _("编辑") }}</a>
                                    |
                                    <a class="text-danger"
                                       href="{{ url_for("admin_frontend.impress_delete", impress_id=impress.id) }}">{{ _("删除") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {{ pagination.links }}
        {% else %}
            <div class="alert alert-success" role="alert">{{ _("没有印象") }}</div>
        {% endif %}
    </div>
{% endblock %}