{% extends "layout/admin_layout.html" %}

{% block content %}
<div class="container">
    <div class="row" id="login-register-div">
        <div class="col-md-6 col-md-offset-3">
            <div class="plan-new">
                <form class="form" action="{{ url_for('admin_frontend.keyword_update') }}" method="post">
                    <fieldset>
                        {% include "admin/keyword/_form.html" %}
                        <button type="submit" class="btn btn-primary btn-full">{{ _('编辑关键词') }}</button>
                        <a class="btn btn-link" href="{{ url_for("admin_frontend.keywords") }}">{{ _("取消") }}</a>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}

