{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        {% include "includes/_flash.html" %}
        <div class="btn-group">
            <a href="{{ url_for("admin_frontend.keyword_new") }}" class="btn btn-info">{{ _("新建关键字") }}</a>
        </div>
        <p></p>
        {% if keywords %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ _("全部关键字") }}</div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _("内容") }}</th>
                            <th>{{ _("类型") }}</th>
                            <th>{{ _("创建时间") }}</th>
                            <th>{{ _("操作") }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for keyword in keywords %}
                            <tr>
                                <td>{{ keyword.id }}</td>
                                <td>{{ keyword.content }}</td>
                                <td>{{ keyword.screen_type }}</td>
                                <td>{{ keyword.screen_create_time }}</td>
                                <td>
                                    <a href="{{ url_for("admin_frontend.keyword_edit", keyword_id=keyword.id) }}">{{ _("编辑") }}</a>
                                    |
                                    <a class="text-danger action-prompt" data-prompt="{{ _("确定要删除关键字[%(name)s]吗？", name=keyword.content) }}"
                                       href="{{ url_for("admin_frontend.keyword_delete", keyword_id=keyword.id) }}">{{ _("删除") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            {{ pagination.links }}
        {% else %}
            <div class="alert alert-success" role="alert">{{ _("没有关键字") }}</div>
        {% endif %}
    </div>
{% endblock %}