{% extends "layout/base.html" %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}

{%- block body -%}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for("admin_frontend.index") }}">{{ _("晓礼网") }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if request.endpoint == "admin_frontend.accounts" %}active{% endif %}">
                        <a href="{{ url_for("admin_frontend.accounts") }}">{{ _("用户管理") }}</a>
                    </li>
                    <li class="{% if request.endpoint == "admin_frontend.plans" %}active{% endif %}">
                        <a href="{{ url_for("admin_frontend.plans") }}">{{ _("方案管理") }}</a>
                    </li>
                    <li class="{% if request.endpoint == "admin_frontend.plans" %}active{% endif %}">
                        <a href="{{ url_for("admin_frontend.plans") }}">{{ _("方案管理") }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for("frontend.index") }}">{{ current_user.cellphone }}</a></li>
                    <li><a href="{{ url_for("frontend.logout") }}">{{ _("退出") }}</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    {%- block content %} {% endblock -%}
{%- endblock -%}