{% extends "layout/admin_layout.html" %}

{% block content %}
    <div class="container">
        {% if users %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span>{{ _("全部用户") }}</span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _("头像") }}</th>
                            <th>{{ _("手机号") }}</th>
                            <th>{{ _("昵称") }}</th>
                            <th>{{ _("得分") }}</th>
                            <th>{{ _("注册时间") }}</th>
                            <th>{{ _("状态") }}</th>
                            <th>{{ _("类型") }}</th>
                            <th>{{ _("操作") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" alt="{{ user.avatar.path }}" width="16" height="16">
                                {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for("admin_frontend.account_show", account_id=user.id) }}" class="">{{ user.cellphone }}</a>
                                </td>
                                <td>{{ user.nickname|d("", true) }}</td>
                                <td>{{ user.score_total }}</td>
                                <td>{{ user.screen_create_time }}</td>
                                <td>{{ user.screen_status }}</td>
                                <td class="{% if user.is_admin %}text-warning{% else %}text-muted{% endif %}">{{ user.screen_type }}</td>
                                <td>
                                    <a href="{{ url_for("admin_frontend.account_edit", account_id=user.id) }}">{{ _("编辑") }}</a>
                                    |
                                    <a class="text-danger action-prompt" data-prompt="{{ _("确定要删除用户[%(name)s]吗？", name=user.cellphone) }}"
                                       href="{{ url_for("admin_frontend.account_delete", account_id=user.id) }}">{{ _("删除") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {{ pagination.links }}
        {% else %}
            <div class="panel-body">
                <div class="alert alert-success" role="alert">{{ _("没有用户") }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}